# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Production build output
dist/

# Local environment files
.env
.env.local
.env.*.local

# Vite cache
.vite

# IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db
